# $Id: Makefile.cfg.sample,v 1.16 2001/01/29 00:22:32 micahjd Exp $
#
# This file has compile-time options for PicoGUI, including
# which fonts and drivers are to be compiled in.
#
# There used to be a menu config system, but the needs
# of the makefile outgrew it so I reverted to a simple
# text config thing.  If someone can make a nicer 'dialog'
# based menu system, I would be very grateful!
#
# If anyone cares to see the old menu code, it's in the
# CVS archives.
#
# -- Micah Dowty <micahjd@users.sourceforge.net>
#

######################################## Compile settings

#### Target system (uncomment only one)
PLATFORM = linux
#PLATFORM = windows
#PLATFORM = uclinux

#### Strip binary? (yes/no)
STRIPBIN = no

#### Numerical errors, saves ~10k
#CFLAGS := $(CFLAGS) -DTINY_MESSAGES

#### Brandon's Haiku errors (can be funny :)
CFLAGS := $(CFLAGS) -DHAIKU_MESSAGES

#### DEBUG flags
CFLAGS := $(CFLAGS) -DDEBUG_KEYS           # CTRL-ALT-* debugging keys
#CFLAGS := $(CFLAGS) -DDEBUG_WIDGET        # Widget debugging
#CFLAGS := $(CFLAGS) -DDEBUG_MEMORY        # Memory debugging
#CFLAGS := $(CFLAGS) -DDEBUG_EVENT         # Event debugging
#CFLAGS := $(CFLAGS) -DDEBUG_VIDEO         # Video debugging
#CFLAGS := $(CFLAGS) -DDEBUG_THEME         # Theme debugging
#CFLAGS := $(CFLAGS) -DDEBUG_NET           # Net/request debugging
CFLAGS := $(CFLAGS) -DBOTHERSOME_TERMINAL # Terminal reports unknown escapes
#CFLAGS := $(CFLAGS) -DDEBUG_INIT          # Debug initialization sequence

#### Optimization
CFLAGS := $(CFLAGS) -O3

#### Assembly language optimizations for various platforms
CFLAGS := $(CFLAGS) -DASM_INTEL

#### ElectricFence malloc debugging
#LDFLAGS := $(LDFLAGS) -lefence

#### gcov coverage analysis
#CFLAGS := $(CFLAGS) -fprofile-arcs -ftest-coverage

#### gprof profiling
#CFLAGS := $(CFLAGS) -pg
#LDFLAGS := $(LDFLAGS) -pg

######################################## Fonts

#### Uncomment any number of the following
FONTS := $(FONTS) font/helvetica.fi
FONTS := $(FONTS) font/clean.fi  
#FONTS := $(FONTS) font/console.fi  
#FONTS := $(FONTS) font/courier.fi  
#FONTS := $(FONTS) font/times.fi    
#FONTS := $(FONTS) font/tiny.fi     
#FONTS := $(FONTS) font/utopia.fi

######################################## Drivers

#### Video drivers. Uncomment any number of them.
DRV := $(DRV) -DDRIVER_FBDEV      # Driver for /dev/fb* framebuffer
DRV := $(DRV) -DDRIVER_SDLFB      # For testing the linear VFBs 
DRV := $(DRV) -DDRIVER_SDL        # SDL driver
DRV := $(DRV) -DDRIVER_SVGAFB     # SVGAlib driver with linear framebuffer
DRV := $(DRV) -DDRIVER_SVGAGL     # SVGAlib with vgagl (crufty but compatible)
#DRV := $(DRV) -DDRIVER_EZ328      # Generic 68EZ328 LCD driver
#DRV := $(DRV) -DDRIVER_NCURSES    # PicoGUI can do text mode too!
#DRV := $(DRV) -DDRIVER_NULL       # Dummy driver, produces no output

#### Input drivers. Uncomment any number of
#### the following. Note that most video drivers
#### will not link without a matching input driver
DRV := $(DRV) -DDRIVER_SDLINPUT     # For the SDL driver
DRV := $(DRV) -DDRIVER_SVGAINPUT    # For the SVGA driver
DRV := $(DRV) -DDRIVER_NCURSESINPUT # For the ncurses driver and fbdev driver

### The End ###
