/* CSS for CIA bot.. oddly similar to the CSS I wrote for the PGBuild XBC stylesheet :) */

body {
  font: 80% Verdana, Helvetica, Arial, sans-serif;
  background: #eef4eb;
  color: Black;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #436976;
  background-color: transparent;
}

.heading {
  background: White;
  border-bottom: 1px solid Black;
  padding: 0.5em;
  margin: 0em 0em 2.0em 0em;
}

.title {
  font: 250% bold;
}

.subtitle {
  font: 100% italic;
  margin: 0em 3em;
}

span.section {
  background: #dee7ec;
  border: 1px solid #8CACBB;
  border-bottom: #dee7ec 1px solid;
  color: #436976;
  font: 120% Bold;
  margin: 1.5em 2em 0em 2em;
  padding: 0em 2em;
}

div.sectionTop {
  background: #dee7ec;
  border-bpttom: 1px solid Black;
  padding: 0.4em;
  margin: 0em 0em 0em 0em;
}

div.section {
  background: White;
  border: 1px solid #8CACBB;
  margin: 0em 1.5em 2.0em 1.5em;
}

div.row {
  padding: 0.5em;
}

ul {
  line-height: 1.5em;
  list-style-name: square;
  margin-left: 2.0em;
  padding:0;
}

/* Most of this table formatting is modified from Plone's default CSS */

table {
    margin: 1em;
}

table th {
    border-bottom: 1px solid #8CACBB;
    font-weight: normal;
    padding: 0.2em 1em;
    text-transform: lowercase;
    white-space: nowrap;
}

table td {
    padding: 0.8em 0.8em 0em 0.8em;
    text-align: left;
}

.bargraph {
    background: #DEECE7;
    border: 1px solid #8CBBAC;
}

/* HTML representation of the IRC colors. Note that this should't be a direct
 * translation, just a similar way to hilight text.
 */

.fgColor-green { 
   color: white;
   background: #008000;
   padding: 0em 0.2em;
}	

.fgColor-light-green { 
   color: white;
   background: #008000;
   padding: 0em 0.2em;
}	

.fgColor-dark-green { 
   color: white;
   background: #008000;
   padding: 0em 0.2em;
}	

.fgColor-orange { 
   color: white;
   background: #A36D03;
   padding: 0em 0.2em;
}	

.fgColor-blue { 
   color: white;
   background: #354C93;
   padding: 0em 0.2em;
}	

.fgColor-aqua { 
   color: white;
   background: #354C93;
   padding: 0em 0.2em;
}	

